
#cc-wplace-overlay,
.cc-wplace-overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  border-radius: 3px;
}

#cc-wplace-panel {
  position: fixed;
  top: 20px;
  right: 65px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-family: sans-serif;
  z-index: 10000;
}

#cc-wplace-panel input,
#cc-wplace-panel button {
  margin-top: 5px;
  width: 100%;
}
