
#cc-wplace-overlay,
.cc-wplace-overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  border-radius: 3px;
}

#cc-wplace-panel {
  position: fixed;
  top: 20px;
  right: 65px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-family: sans-serif;
  z-index: 10000;
}

#cc-wplace-panel input,
#cc-wplace-panel button {
  margin-top: 5px;
  width: 100%;
}

/* Panel -- Log Component - Credential */

#cc-win-log p {
  position: relative;
  margin: 5px 0 2px 0;
  font-size: 14px;
}

#cc-wplace-panel .input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

#cc-wplace-panel input {
  flex: 1;
  padding-right: 35px;
}

#cc-wplace-panel .eye-icon {
  position: absolute;
  right: 8px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s;
}

#cc-wplace-panel .eye-icon:hover {
  opacity: 1;
}

/* Panel -- Zone Component */
#cc-win-zone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  padding: 10px 0 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2); 
}

#cc-win-zone input {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 40px;
  min-width: 4ch;
  padding: 2px 6px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff !important;
  border-radius: 4px;
  height: 22px;
  font-size: 12px;
  text-align: center;
}

#cc-win-zone input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* Panel -- Info-Node Component */

#cc-win-info-node {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #fff;
  font-size: 13px;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2); 
}

#cc-win-info-node span {
  height: 22px;
}

.cc-info-node-title,
.cc-info-node-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cc-info-node-title p,
.cc-info-node-date p {
  font-weight: 600;
  margin: 0;
  min-width: 60px;
}

.cc-info-node-title span,
.cc-info-node-date span {
  flex: 1;
  padding: 0px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
  text-align: left;
}

.cc-info-node-comments {
  background: rgba(255, 255, 255, 0.2);
  border: 1px dashed #ccc;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  font-size: 0.9em;
}

.cc-info-node-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}

.cc-info-node-buttons button {
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: background-color 0.2s;
}

.cc-info-node-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.cc-info-node-buttons button:hover {
  background: rgba(255, 255, 255, 0.2);
}

#cc-log {
  display: none !important;
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}
